#!/usr/bin/make -f

%:
	dh $@ --with dkms

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_install:

VERSION := $(shell dpkg-parsechangelog -S Version | cut -d- -f1)

override_dh_dkms:
	dh_dkms -V $(VERSION)
